---
layout: default
---

<p>欢迎光临我的个人主页</p>

<h2>关于我</h2>
个人介绍。。。<br>


<h2>联系我</h2>
<p>
<div class="about-list">
<li>
	<i class="fa fa-home"></i> 技术主页：<a href="http://www.latelee.org" target="_blank"> http://www.latelee.org</a>
</li>
<li>
	<i class="fa fa-puzzle-piece"></i> 迟思堂工作室：<a href="http://www.cststudio.com.cn" target="_blank"> http://www.cststudio.com.cn</a>
</li>

<li>
	<i class="fa fa-github"></i> <a href="https://github.com/latelee"target="_blank"> https://github.com/latelee</a>
</li>

<li>
	<i class="fa fa-envelope"></i> <a href="mailto:邮箱地址"> li@latelee.org</a>
</li>
<li>
	<i class="fa fa-qq"></i> 这是QQ号<br>
</li>
<li>
	<i class="fa fa-weixin"></i> 这是微信号<br>
</li>
<li>
	<i class="fa fa-weibo"></i> 微博号<br>
</li>
</div>
</p>

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
